@model CRUDTalentos2.Models.Candidatos

<div class="panel panel-primary painel">
    <div class="panel-heading"><h3>Parabéns, @Model.Nome!  Seu formulário foi submetido com sucesso!</h3></div>
    <div class="panel-body">Agora, é só aguardar! Em breve, entraremos em contato!</div>
</div>

